---
name: CI

on:
  push:
      branches: [main]
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: "1" # Make tools pretty.

jobs:
  check-install-no-date-suffix:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          path: action

      - uses: ./action
        with:
          cache-date-suffix: ""

      - run: |
          uv venv
          uv pip install attrs


  check-hash-deps-path:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          path: action

      - uses: ./action
        with:
          cache-suffix: -LE-SUFFIX
          cache-dependency-path: "**/LICENSE"

      - run: |
          uv venv
          uv pip install attrs
