---
name: CI

on:
  push:
      branches: [main]
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: "1" # Make tools pretty.

jobs:
  check-install:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          path: action

      - run: echo WEEK=$(date +%V) >>$GITHUB_ENV
        shell: bash

      - uses: ./action
        with:
          cache-date-suffix: ""

      - run: uv --version


  check-hash-deps-path:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          path: action

      - uses: ./action
        with:
          cache-suffix: -LE-SUFFIX
          cache-dependency-path: "**/LICENSE"

      - run: |
          uv venv
          uv pip install attrs
